<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Movies List Get Via Crawler
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-cog"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>SNO</th>
                                <th>Movie ID</th>
                                <th>Movie Name</th>
                                <th>Total Audio Count</th>
                                <th>Poster Available</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                              <tr>
                                <td class="align-middle">1</td>
                                <td class="align-middle">234</td>
                                <td class="align-middle">JodhaAkbar</td>
                                <td>6</td>
                                <td>YES</td>
                                <td class="text-center">


                                    <button type="button" class="btn btn-primary">
                                        <i class="fa fa-check"></i>
                                    </button>


                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>


                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>